{% extends 'core/base.html' %}

{% block title %}Sign up{% endblock %}

{%block content%}
<div class="w-1/2 my-6 mx-auto p-6 bg-gray-100 rounded-xl">
    <h1 class="mb-6 text-3xl"></h1>
    <form method="post" action=".">
        {% csrf_token %}

        <h1 class="mb-6 text-4xl px-2">Log in</h1>

        <div class="mb-3">
            <label class="inline-block mb-2 px-2 text-xl">Username</label> <br>
            {{ form.username }}
        </div>

        <div class="mb-3">
            <label class="inline-block mb-2 px-2 text-xl">Password</label> <br>
            {{ form.password }}
        </div>

        {% if form.errors or form.non_field_errors %}
            <div class="mb-3 p-6 bg-red-100 rounded-xl">
                {%for field in form%}
                    {{form.errors}}
                {%endfor%}
                {{ form.non_field_errors }}
            </div>
        {%endif%}
        <button class="py-4 px-8 text-lg bg-teal-500 hover:bg-teal-700 rounded-xl text-white">Submit</button>
    </form>
</div>
{% endblock %}